<section class="flex flex-column flex-1">
  <osf-sub-header
    [showButton]="hasWriteAccess()"
    [buttonLabel]="'project.metadata.addCommunityMetadataRecord.title' | translate"
    [isButtonDisabled]="isLoading()"
    (buttonClick)="openAddRecord()"
    [title]="'project.overview.metadata.title' | translate"
  />
  <osf-metadata-tabs
    [editorContext]="editorContext"
    [loading]="isLoading()"
    [tabs]="tabs()"
    [selectedTab]="selectedTab()"
    [selectedCedarTemplate]="selectedCedarTemplate()!"
    [selectedCedarRecord]="selectedCedarRecord()!"
    [cedarFormReadonly]="cedarFormReadonly()"
    [canEdit]="hasWriteAccess()"
    (changeTab)="onTabChange($event)"
    (formSubmit)="onCedarFormSubmit($event)"
    (cedarFormChangeTemplate)="onCedarFormChangeTemplate()"
    (toggleFormEdit)="toggleEditMode()"
  >
    <div class="flex-column flex flex-1 w-full bg-white lg:flex-row">
      <div class="col-12 lg:col-6 flex flex-column gap-4">
        <osf-metadata-title
          (openEditTitleDialog)="openEditTitleDialog()"
          [title]="metadata()?.title!"
          [readonly]="!hasWriteAccess()"
        />

        <osf-metadata-description
          (openEditDescriptionDialog)="openEditDescriptionDialog()"
          [description]="metadata()?.description!"
          [readonly]="!hasWriteAccess()"
        />

        @if (isRegistrationType()) {
          <osf-metadata-registry-info [type]="metadata()?.registrationSupplement" [provider]="registryProvider()" />
        }

        <osf-metadata-date-info [dateCreated]="metadata()?.dateCreated" [dateModified]="metadata()?.dateModified" />

        <osf-metadata-contributors
          (openEditContributorDialog)="openEditContributorDialog()"
          [contributors]="bibliographicContributors()"
          [isLoading]="isContributorsLoading()"
          [hasMoreContributors]="hasMoreContributors()"
          [readonly]="!hasWriteAccess()"
          (loadMoreContributors)="handleLoadMoreContributors()"
        />

        <osf-metadata-resource-information
          (openEditResourceInformationDialog)="openEditResourceInformationDialog()"
          (showResourceInfo)="onShowResourceInfo()"
          [customItemMetadata]="customItemMetadata()!"
          [readonly]="!hasWriteAccess()"
        />

        <osf-metadata-funding
          (openEditFundingDialog)="openEditFundingDialog()"
          [funders]="customItemMetadata()?.funders!"
          [readonly]="!hasWriteAccess()"
        />

        <osf-metadata-affiliated-institutions
          (openEditAffiliatedInstitutionsDialog)="openEditAffiliatedInstitutionsDialog()"
          [affiliatedInstitutions]="affiliatedInstitutions()"
          [readonly]="!hasWriteAccess()"
        />

        @if (isProjectType()) {
          <osf-metadata-collections
            [projectSubmissions]="projectSubmissions()"
            [isProjectSubmissionsLoading]="isProjectSubmissionsLoading()"
          />
        }
      </div>

      <div class="col-12 lg:col-6 flex flex-column gap-4">
        <osf-metadata-license
          (openEditLicenseDialog)="openEditLicenseDialog()"
          [license]="metadata()?.license!"
          [readonly]="!hasWriteAccess()"
        />

        <osf-metadata-publication-doi
          (openEditPublicationDoiDialog)="handleEditDoi()"
          [hideEditDoi]="hideEditDoi() || !hasWriteAccess()"
          [identifiers]="metadata()?.identifiers!"
          [publicationDoi]="metadata()?.publicationDoi || null"
          [resourceType]="resourceType()"
        />

        @if (isRegistrationType()) {
          <osf-metadata-registration-doi [identifiers]="metadata()?.identifiers!"></osf-metadata-registration-doi>
        }

        <osf-metadata-tags
          [tags]="metadata()?.tags || []"
          (tagsChanged)="onTagsChanged($event)"
          [readonly]="isRegistrationType() ? !hasAdminAccess() : !hasWriteAccess()"
        ></osf-metadata-tags>

        <osf-metadata-subjects
          (getSubjectChildren)="getSubjectChildren($event)"
          (searchSubjects)="searchSubjects($event)"
          (updateSelectedSubjects)="updateSelectedSubjects($event)"
          [isSubjectsUpdating]="isSubjectsUpdating()!"
          [selectedSubjects]="selectedSubjects()"
          [readonly]="!hasAdminAccess()"
        />
      </div>
    </div>
  </osf-metadata-tabs>
</section>
