@if (template()) {
  <div class="cedar-template-form bg-white">
    @if (readonly()) {
      <div class="flex justify-content-between gap-4 p-4">
        @if (existingRecord()?.attributes?.is_published) {
          <h3 class="text-lg">{{ 'project.metadata.addMetadata.publishedText' | translate }}</h3>
        } @else {
          <h3 class="text-lg text-red-500">{{ 'project.metadata.addMetadata.notPublishedText' | translate }}</h3>
        }
        <div class="flex items-right">
          @if (!fileGuid()) {
            <p-button
              severity="secondary"
              class="btn-icon-only px-2 flex align-self-center"
              icon="fas fa-copy"
              [pTooltip]="'project.metadata.addMetadata.copyRecordMetadataUrl' | translate"
              (onClick)="copyUrl()"
            />
          }

          <p-button
            severity="secondary"
            class="btn-icon-only px-2 flex align-self-center"
            icon="fas fa-download"
            [pTooltip]="'project.metadata.addMetadata.downloadRecordMetadata' | translate"
            (onClick)="downloadMetadadaRecord()"
          />

          @if (!fileGuid()) {
            <p-button
              severity="secondary"
              class="btn-icon-only px-2 flex align-self-center"
              icon="fas fa-share-nodes"
              (onClick)="shareMenu.toggle($event)"
            />

            <p-menu appendTo="body" [model]="shareItems" popup #shareMenu>
              <ng-template #item let-item>
                <a class="p-menu-item-link no-underline">{{ item.label | translate }}</a>
              </ng-template>
            </p-menu>
          }

          @if (showEditButton()) {
            <p-button
              class="px-2 flex align-self-center"
              severity="secondary"
              [label]="'project.metadata.addMetadata.editRecord' | translate"
              (onClick)="toggleEditModeEmit()"
            >
            </p-button>
          }
        </div>
      </div>
    }
    <div class="cedar-editor-container">
      @if (readonly()) {
        <cedar-artifact-viewer
          #cedarViewer
          [config]="cedarViewerConfig"
          [templateObject]="template().attributes.template"
          [instanceObject]="formData()"
        ></cedar-artifact-viewer>
      } @else {
        <osf-cedar-editor-host
          #cedarEditor
          [config]="cedarConfig"
          [context]="context()"
          [templateObject]="template().attributes.template"
          [metadata]="formData()"
          (editorChange)="onCedarChange($event)"
        />
      }
    </div>

    @if (!readonly()) {
      <div class="flex justify-content-between gap-3 px-4 pt-4 pb-8 sm:justify-content-end">
        @if (existingRecord()) {
          <p-button
            class="w-10rem btn-full-width"
            severity="secondary"
            [label]="'common.buttons.cancel' | translate"
            (onClick)="toggleEditModeEmit()"
          >
          </p-button>
        } @else {
          <p-button
            class="w-10rem btn-full-width"
            severity="secondary"
            [label]="'project.metadata.addMetadata.changeTemplate' | translate"
            (onClick)="changeTemplate.emit()"
          >
          </p-button>
        }

        <p-button
          class="w-10rem btn-full-width"
          [label]="'project.metadata.addMetadata.' + (isValid ? 'publish' : 'saveDraft') | translate"
          (onClick)="onSubmit()"
        >
        </p-button>
      </div>
    }
  </div>
}
