<div #dropZoneContainer class="drop-zone-container flex flex-1">
  @if (!hasViewOnly() && supportUpload()) {
    <div
      class="drop-zone"
      [class.active]="isDragOver()"
      (dragleave)="onDragLeave($event)"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      @if (isDragOver()) {
        <div class="flex flex-column gap-2 align-items-center pointer-events-none">
          <i class="fa-solid fa-cloud-arrow-up text-5xl"></i>
          <p class="drop-text text-xl">{{ 'files.dropText' | translate }}</p>
        </div>
      }
    </div>
  }

  @if (isLoading() && !isLoadingMore()) {
    <div class="flex flex-1">
      <osf-loading-spinner></osf-loading-spinner>
    </div>
  } @else {
    <div class="flex-1">
      <div class="files-table flex">
        <p-tree
          [value]="nodes()"
          [draggableNodes]="!hasViewOnly() && supportUpload()"
          [droppableNodes]="!hasViewOnly() && supportUpload()"
          (onScrollIndexChange)="onScrollIndexChange($event)"
          [scrollHeight]="scrollHeight()"
          [virtualScroll]="true"
          [virtualScrollItemSize]="virtualScrollItemSize"
          styleClass="w-full md:w-[30rem]"
          class="tree-table"
          [loading]="isLoadingMore()"
          [selectionMode]="selectionMode()"
          [selection]="selectedFiles()"
          (onNodeSelect)="onNodeSelect($event)"
          (onNodeUnselect)="onNodeUnselect($event)"
          (onNodeDrop)="onNodeDrop($event)"
        >
          <ng-template let-file pTemplate="default">
            @if (file.previousFolder) {
              <div
                class="files-table-row"
                tabindex="0"
                (click)="openParentFolder()"
                (keydown.enter)="openParentFolder()"
              >
                <div class="flex align-items-center gap-2">
                  <i class="fas fa-sm fa-angle-left"></i>
                  <i class="fas fa-folder"></i>
                  {{ file.name ?? '' }}
                </div>
              </div>
            } @else {
              <div class="files-table-row" tabindex="0">
                <div class="flex gap-2 table-cell" [class.pl-6]="foldersStack.length">
                  <div
                    class="flex align-items-center gap-2 hover:underline py-1 max-w-full"
                    (click)="openEntry($event, file)"
                    (keydown.enter)="openEntry($event, file)"
                    tabindex="0"
                  >
                    <i [class]="file.kind !== 'folder' ? 'fas fa-file blue-icon' : 'fas fa-folder'"></i>
                    <span class="entry-title">{{ file?.name ?? '' }}</span>
                  </div>
                </div>

                <div class="files-table-cell">
                  @if (file.extra.downloads) {
                    {{
                      file.kind === 'file' ? file.extra.downloads + ' ' + ('common.labels.downloads' | translate) : ''
                    }}
                  }
                </div>

                <div class="files-table-cell">
                  {{ file.size | fileSize }}
                </div>

                <div class="files-table-cell">
                  {{ file.dateModified | date: 'MMM d, y hh:mm a' }}
                </div>

                @if (isSomeFileActionAllowed && !selectedFiles().length) {
                  <div class="relative ml-auto">
                    <osf-file-menu
                      [file]="file"
                      (action)="onFileMenuAction($event, file)"
                      [isFolder]="file.kind === 'folder'"
                      [allowedActions]="allowedMenuActions()"
                      osfStopPropagation
                    >
                    </osf-file-menu>
                  </div>
                }
              </div>
            }
          </ng-template>
        </p-tree>

        @if (!files().length) {
          <div class="empty-state-container p-4">
            @if (hasViewOnly() || !supportUpload()) {
              <h3 class="font-normal mb-4 text-no-transform">{{ 'files.emptyState' | translate }}</h3>
            } @else {
              <div class="drop-text">
                <i class="fa-solid fa-cloud-arrow-up text-5xl"></i>
                <p class="text-xl">{{ 'files.dropText' | translate }}</p>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
